/* Custom Stylesheet */
/*
Table of Contents
1 - General Classes
2 - Calendar Group Classes
3 - Materialize Overrides
4 - FullCalendar Overrides
*/

/* 1 - General Classes */

.modal {
	
	max-height: 75%;
	width: 35%;
}
@media screen and (max-width: 480px) {
    .modal {
        width: 75%;
    }
}
body {
  overflow-x: hidden;
}
.fc-day-grid-event:hover{
	opacity: 0.9;
}
h2 {
    color: #fff;
    font-size: 28px;
    padding-top: 37px;
    text-shadow: 0px 1px 5px #333;
}
@media screen and (max-width: 550px) {
#week {
    display: none;
}
}
/* 2 - Calendar Group Classes */
.academics-cal {
  background: #2da26c;
  border: 1px solid #2da26c;
}
#academics.filled-in:checked+label:after {
    background-color: #2da26c;
}
.activities-cal {
  background: #029AE4;
  border: 1px solid #029AE4;
}
#activities.filled-in:checked+label:after {
    background-color: #029AE4;
}
.clubs-cal {
  background: #FFD100;
  border: 1px solid #FFD100;
}
#clubs.filled-in:checked+label:after {
    background-color: #FFD100;
}
.arts-cal {
  background: #7E57C2;
  border: 1px solid #7E57C2;
}
#arts.filled-in:checked+label:after {
    background-color: #7E57C2;
}
.athletics-cal {
  background: #EF5350;
  border: 1px solid #EF5350;
}
#athletics.filled-in:checked+label:after {
    background-color: #EF5350;
}
.religious-cal {
  background: #FFB74D;
  border: 1px solid #FFB74D;
}
#religious.filled-in:checked+label:after {
    background-color: #FFB74D;
}
.holiday-cal {
  background: #607D8B;
  border: 1px solid #607D8B;
}
#holiday.filled-in:checked+label:after {
    background-color: #607D8B;
}
[type="checkbox"].filled-in:checked+label:after {
  border: none;
}
/* 3 - Materialize Overrides */
nav a {
    color: #333;
}
i.mdi-navigation-menu {
    padding: 34px 0 0 30px;
    font-size: 32px;
    color: #fff;
}
i.material-icons {
    text-shadow: 1px 0px 6px #333;
    color: #fff;
    height: 60px;
}
a.dropdown-button {
    height: 62px;
}
a.dropdown-button > i {
    height: 10px;
}
ul#overflow {
    top: 15px!important;
    right: 20px!important;
}
	/* Subscribe Buttons  */
a.subscribe {
    padding: 8px;
    display: inline;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
}

.subscribe .material-icons {
    text-shadow: 0 0 0;
    color: #9e9e9e;
    height: 0px;
}
.calendar-list li {
    padding: 0 0 0 32px;
}
    /* Banner Classes  */
.Jan {
	 background-image: url("http://svucsc.github.io/img/winter.jpg");
}
.Feb {
	 background-image: url("http://svucsc.github.io/img/calendar.jpg");
}
.Mar {
	 background-image: url("http://svucsc.github.io/img/MarchBanner.jpg");
}
.Apr {
	 background-image: url("http://svucsc.github.io/img/spring.jpg");
}
.May {
	 background-image: url("http://svucsc.github.io/img/spring.jpg");
}
.Jun {
	 background-image: url("http://svucsc.github.io/img/summer2.jpg");
}
.Jul {
	 background-image: url("http://svucsc.github.io/img/summer2.jpg");
}
.Aug {
	 background-image: url("http://svucsc.github.io/img/clouds.jpg");
}
.Sept {
	 background-image: url("http://svucsc.github.io/img/clouds.jpg");
}
.Oct {
	 background-image: url("http://svucsc.github.io/img/fall.jpg");
}
.Nov {
	 background-image: url("http://svucsc.github.io/img/fall.jpg");
}
.Dec {
	 background-image: url("http://svucsc.github.io/img/winter.jpg");
}
	
	/* Adjust 140px header  */
nav {
    background-size: auto 112%;
    background-position: center;
    box-shadow: none;
    background-color: transparent;
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 140px;
    line-height: 64px;
}
div#index-banner {
    margin-top: -140px;
}
	/* Switch Color */
.switch label .lever {
    background-color:#CACACA;
}
.switch label input[type=checkbox]:checked + .lever:after {
    background-color:#007a3b;
}
 .switch label input[type=checkbox]:checked + .lever {
    background-color:#007a3b;
}

/* 4 - FullCalendar Customization */
.fc-toolbar {
    margin-top: -140px;
    margin: 0 100px;
}
#loading {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}
@media screen and (max-width: 517px) {
.fc-toolbar {
    margin: 0 15px 0 100px;
}
}
	/* Today Highlight Color */
.fc-unthemed .fc-today {
    background: rgba(238,238,238,.6);
}
	/* Basic Day Today Highlight Color */
.fc-basicDay-view .fc-today {
    background: rgba(255,255,255,0);
}
	/* Removing Border on Day view */
.fc-basicDay-view .fc-today td {
    border: none;
}
	/* Control buttons padding */
.fc-right {
    padding-top: 34px;
    padding-left: 23px;
}
@media screen and (max-width: 604px) {
.fc-right {
    float: left!important;
    padding-top: 16px;
}
}
	/* Align day numbers left */
.fc-ltr .fc-basic-view .fc-day-number {
    text-align: left;
}
	/* Do not display event times in month*/
.fc-month-view .fc-time {
    display: none;
}
	/* Remove borders */
td.fc-widget-header {
    border: none;
}
th.fc-day-header {
    border: none;
}
.fc-content-skeleton thead {
    border: none;
}
	/* Day of the Week name styles */
th.fc-day-header.fc-widget-header {
    font-size: 1.3em;
    font-weight: 300;
}
.fc-view.fc-month-view.fc-basic-view {
    margin-top: 7px;
}
	/* Event Styles */
.fc-event {
    font-weight: 300;
    font-size: .9em;
}
td.fc-event-container {
    padding: 0 3px;
    cursor: pointer;
}
a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end {
    padding: 0 4px 0 9px;
}
td.fc-day-number {
    cursor: pointer;
    font-weight: 300;
    font-size: 1.3em;
}
.fc-basicDay-view .fc-content {
    margin: 12px;
}
	/* Change calendar day border colors */
.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-popover {
    border-color: #eee;
}
	/* Nav buttons style */
span.fc-icon {
    height: initial;
    color: #333;
}
button.fc-today-button {
    color: #333;
}
.fc .fc-button-group > * {
    margin: 0 0 0 9px;
}
	/* Set month weeks min height */
.fc-basic-view .fc-body .fc-row {
    min-height: 10em;
}
	/* This is messy - it prevents the clipping on day view */
.fc-row.fc-week.fc-widget-content.fc-rigid {
    min-height: 300px;
}
	/* This sets up the month view for mobile users */
@media screen and (max-width: 550px) {
.fc-month-view.fc-basic-view .fc-body .fc-row {
min-height: 60px;
}

.fc-month-view .fc-content {
    display: none;
}
.fc-month-view td.fc-event-container {
    pointer-events: none;
    cursor: default;
}
.fc-month-view td.fc-day.fc-widget-content {
    border: none;
}
.fc-ltr .fc-basic-view .fc-day-number {
    text-align: center;
    padding-top: 7px;
}
.fc-month-view td.fc-more-cell {
    display: none;
}
}
