/* Custom Stylesheet */
/* 
Table of Contents
1 - General Classes
2 - Materialize Overrides
3 - FullCalendar Overrides
*/

/* 1 - General Classes */
h2 {
    color: #fff;
    font-size: 28px;
    padding-top: 37px;
    text-shadow: 0px 1px 5px #333;
}

/* 2 - Materialize Overrides */
nav a {
    color: #333;
}
i.mdi-navigation-menu {
    padding: 34px 0 0 30px;
    font-size: 32px;
    color: #fff;
}
i.material-icons {
    text-shadow: 1px 0px 6px #333;
    color: #fff;
    height: 60px;
}
a.dropdown-button {
    height: 62px;
}
a.dropdown-button > i {
    height: 10px;
}
ul#overflow {
    top: 15px!important;
    right: 20px!important;
}
	/* Adjust 140px header  */
nav {
    background-image: url("http://svucsc.github.io/img/banner.jpg");
    background-size: auto 112%;
    background-position: center;
    box-shadow: none;
    background-color: transparent;
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 140px;
    line-height: 64px; 
}
div#index-banner {
    margin-top: -140px;
}
	/* Give header image a box shadow */
.nav-wrapper {
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.29);
}
	/* Switch Color */
.switch label .lever {
    background-color:#CACACA;
}
.switch label input[type=checkbox]:checked + .lever:after {
    background-color:#007a3b;
}
 .switch label input[type=checkbox]:checked + .lever {
    background-color:#007a3b;
}

/* 3 - FullCalendar Customization */
.fc-toolbar {
    margin-top: -140px;	
    margin: 0 100px;
}
#loading {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}
	/* Today Highlight Color */
.fc-unthemed .fc-today {
    background: #eee;
}
	/* Control buttons padding */
.fc-right {
    padding-top: 34px;
}

	/* Align day numbers left */
.fc-ltr .fc-basic-view .fc-day-number {
    text-align: left;
}
	/* Do not display event times */
span.fc-time {
    display: none;
}
	/* Remove borders */
td.fc-widget-header {
    border: none;
}
th.fc-day-header {
    border: none;
}
.fc-content-skeleton thead {
    border: none;
}
	/* Day of the Week name styles */
th.fc-day-header.fc-widget-header {
    font-size: 1.3em;
    font-weight: 300;
}
.fc-view.fc-month-view.fc-basic-view {
    margin-top: 7px;
}
	/* Event Styles */
.fc-event {
    font-weight: 300;
    font-size: .9em;
}
td.fc-event-container {
    padding: 0 3px;
}
a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end {
    padding: 0 4px 0 9px;
}
td.fc-day-number { 
    font-weight: 300; 
    font-size: 1.3em; 
}
	/* Change calendar day border colors */
.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-popover {
    border-color: #eee;
}
	/* Prevent scrollbars within the calendar */
.fc-day-grid-container.fc-scroller, .fc-time-grid-container fc-scroller {
    height: auto!important;
}
	/* Nav buttons style */
span.fc-icon {
    height: initial;
    color: #333;
}
button.fc-today-button {
    color: #333;
}
.fc .fc-button-group > * {
    margin: 0 0 0 9px;
}
