/* Custom Stylesheet */
/**
 * Override of Materialize Stylsheet
 */

nav a {
    color: #333;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: none; 
}

i.mdi-navigation-menu {
    padding: 10px 0 0 30px;
}
